VITE_API_PROXY_TARGET=http://localhost:3001
VITE_WS_URL=ws://localhost:3002
VITE_CONTRA_GATEWAY_URL=http://35.228.38.233:8899
VITE_SOLANA_VALIDATOR_URL=https://api.devnet.solana.com
VITE_SAS_CREDENTIAL_PDA=5K8c9yZqJv65Z4B5Q9BSPQERtRXkRj1NbzKqHZHf2Unm
VITE_SAS_SCHEMA_PDA=oCSwYS25r729mBnWW4bD8yfw4vMCWD53YtgTfJT9UZq
VITE_SUPABASE_URL=https://vscnrvvbpsasbjckodia.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzY25ydnZicHNhc2JqY2tvZGlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNTE5MTMsImV4cCI6MjA4OTkyNzkxM30.nveMgPF2ADpNBVi6Sp1gVPR623CRmY6lEiwU9EZd-VE
VITE_DEMO_TOKEN_MINTS=5L9sUJJHL73YjaJ66MSD1BtNqZo1pgidPtcNKBvVdQ2J,7mqJuABCcbrk4UYJJtE4d3GZwR5n2a8BpaSURCq752hu,42k8yVzBkueqEf1cPPhVHxipvUufg5Z9PpV3DRZJxq1h,7D3ePHxhAzg1RAoCXwNLvCsgPo91NiVwE2BVm1vX9Loi,azTaDSr4bbhqsxFao8jUH2yz52r1sy5ihKu4XHHBkoE,7UAwp1VTSJyhuhHF3DQifyebNey9DnCcyADcvmkky4pC,8sKLVxMHswSVUXwR5sPox8cR4f88z49WtvmYY6J1URGd,2CMNySecfv9V9kA7LS2VsWzvTv7Kp35Y3jXKGKTH6qv3,FnTA78B6wp9i3tZG3NxFXZdd85rQtqzHEwpmwWkbx8PB,DnDP4L3mEztefrhq1UedBkGbnhzmeKLxqJ7AYtiawL4f,BSCwHCEkNUAgW3uXWEnrgNH2NsSqhiwgmd9dVQLkbshC
